[run]
branch = True
source =
    finsport
    football
    tools
omit =
    */migrations/*
    */tests.py
    */test_*.py

[report]
show_missing = True
skip_covered = True
precision = 1
fail_under = 80
