DEBUG=True
# This is a sample .env file for your project.
# Make sure to replace the placeholder values with your actual configuration.
SECRET_KEY=secret_key_here
# Replace 127.0.0.1, localhost, and your.domain.com with your actual domain or IP address
ALLOWED_HOSTS=127.0.0.1,localhost,your.domain.com
# Replace 'your.domain.com' with your actual domain or IP address
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8001
# Replace 'your.domain.com' with your actual domain or IP address
DATABASE_NAME=database_name_here
# Replace 'database_name_here' with your actual database name
DATABASE_USER=database_user_here
# Replace 'database_user_here' with your actual database username
DATABASE_PASSWORD=database_password_here
# Replace 'database_password_here' with your actual database password
DATABASE_HOST=database_host_here
# Replace 'database_host_here' with your actual database host, e.g., localhost or db
DATABASE_PORT=database_port_here
# Replace '/path/to/selenium-data' with the actual path to your Selenium data directory
ENV_FOLDER=/path/to/your/project/
# Replace '/path/to/your/project/' with the actual path to your project directory
EMAIL_HOST=email_host_here
# Replace 'email_host_here' with your actual email host, e.g., smtp.gmail.com
EMAIL_HOST_USER=username_here
# Replace 'username_here' with your actual email username
EMAIL_HOST_PASSWORD=password_here
# Replace 'password_here' with your actual email password
INSTANCE_DOMAIN=http://your.domain.com
# Replace 'your.domain.com' with your actual domain or IP address
HOST_IP=your.domain.com
# Replace 'your.domain.com' with your actual domain or IP address
HOST_USER=your_username
# Replace 'your_username' with your actual username
HOST_PASS='your_password'
# Replace 'your_password' with your actual password