Django==5.2.2
djangorestframework==3.16.0
django-environ==0.12.0
django-fernet-fields-v2==0.9
django-extensions==4.1
django-countries==7.6.1
django-filter==25.1
django-cors-headers==4.7.0
Markdown==3.8
psycopg2-binary==2.9.10
selenium==4.34.2
Scrapy==2.13.3
ipython==9.3.0
fabric==2.5.0
gunicorn==23.0.0
celery==5.5.3
django-celery-beat==2.8.1
django_celery_results==2.6.0
redis==6.2.0
black==25.1.0
pylint==3.3.8
pylint-django==2.6.1