{% extends "../base/base.html" %}

{% block content %}
  <style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px 5px;
  }
  .summary {
      width: 500px;
  }
  thead {
      background-color: lightgrey;
  }

  hr {
      border: solid 1px black;
  }
  table.table-striped > tbody > tr:last-child {
      background: lightskyblue;
  }
  </style>
  <h2>Resultados Totales</h2>
  <table class="table summary">
    <thead>
      <tr>
        <th scope="col">Número de tablas</th>
        <th scope="col">Total de apuesta</th>
        <th scope="col">Total de ganancia</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ num_tables }}</td>
        <td>{{ coin }} {{ total_inversion_tables|floatformat:2 }}</td>
        <td>{{ coin }} {{ total_profit_tables|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>

  {% for table in object_list %}
    <hr>
    <h3> Tabla - Fecha: {{ table.name }}</h3>
    <br>
      <table class="table summary">
        <thead>
          <tr>
            <th scope="col">Total de apuesta</th>
            <th scope="col">Total de ganancia</th>
            <th scope="col">Duración total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ coin }} {{ table.total_inversion|floatformat:2 }}</td>
            <td>{{ coin }} {{ table.total_profit|floatformat:2 }}</td>
            <td>{{ table.duration }} </td>
          </tr>
        </tbody>
      </table>
      <h4>Apuestas</h4>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Iter</th>
            <th>Partido</th>
            <th>Fecha / hora</th>
            <th>Liga</th>
            <th>Apuesta</th>
            <th>Inversión</th>
            <th>Factor</th>
            <th>Ganancia</th>
            <th>Estado</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for row in table.data_table %}
            {% if table.state == "Available" %}
              {% if row.state == 'C' %}
              <tr style="background: lightskyblue;">
              {% else %}
              <tr style="background: white;">
              {% endif %}
            {% else %}
              <tr>
            {% endif %}
              <td>{{ forloop.counter }}</td>
              <td>{{ row.match.get_match_name }}</td>
              <td>{{ row.match.start_datetime }}</td>
              <td>{{ row.match.local_team.league }}</td>
              <td>{{ row.bet_amount|floatformat:2 }}</td>
              <td>{{ row.inversion_amount|floatformat:2 }}</td>
              <td>{{ row.match.parity_factor }}</td>
              {% if row.state == 2 %}
                <td>{{ table.total_profit|floatformat:2 }}</td>
              {% else %}
                <td>{{ row.profit|floatformat:2 }}</td>
              {% endif %}
              <td>{{ row.get_state_display }}</td>
              <td>{{ row.match.get_score }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    <br>
    <br>
  {% empty %}
      <p>No tables yet.</p>
  {% endfor %}
{% endblock %}
